.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__container {
    width: calc((100% - 60px) / 3);
    border: 1px solid $portfolio-border;
    transition: box-shadow 250ms $cubic;

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    &--right {
            margin-right: 30px;
        }
    
    &--bottom {
            margin-bottom: 30px;
        }
}

